/**
 * Font collections
 *------------------*/
@import url(http://fonts.googleapis.com/css?family=Just+Me+Again+Down+Here);

* {
	font-family: 'Helvetica Neue', 'Helvetica';
}

a {
	text-decoration: none;
	color: rgba(154, 23, 41, 1);
	border-bottom: 1px dashed rgba(154, 23, 41, 1);
}

a:hover {
	border: none;
	color: rgba(99, 11, 24, 1);
	position: relative;
	bottom: 1px;
}

input {
	outline: none;
}

.proud {
	color: rgba(154, 23, 41, 1);
}

/**
 * Static styling
 */	
h1#top {
	font-size: 2em;
	font-weight: 700;
	color: #9a1729;
	padding: 0px 0px 5px 5px;
	text-shadow: 1px 1px rgba(255, 255, 255, 1);
}

h5#caption {
	font-size: 1em;
	color: #9a1729;
	padding: 0px 0px 5px 5px;
	font-weight: 200;
	text-shadow: 1px 1px rgba(255, 255, 255, 1);
}

#outter {
	max-width: 780px;
	margin: 0px auto;
	border-radius: 10px;
}

#header {
	overflow: hidden;
	width: 100%;
	/*padding: 5px 0px;*/
	background-color: #fae295;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

#header ul#nav {
	position: absolute;
	right: 0px;
	z-index: 2;
	margin: 10px;
	font-size: 0.8em;
}

#header ul#nav li {
	float: left;
	list-style: none;
	margin: 0px 5px;
}

#footer {
	width: 100%;
	height: 200px;
	overflow: hidden;
	text-align: center;
	background-color: #fae295;
}

#page-1 {
	background-color: white;
	position: relative;
	top: -30px;
	width: 100%;
	height: 50px;
	-webkit-box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.3);
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}

#page-2 {
	background-color: white;
	position: relative;
	top: -85px;
	width: 100%;
	height: 50px;
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}

#page-3 {
	background-color: white;
	position: relative;
	top: -140px;
	width: 100%;
	height: 50px;
	-webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}

#footer h5 {
	font-size: 0.8em;
	font-weight: 200;
	color: #9a1729;
	text-shadow: 1px 1px rgba(255, 255, 255, 1);
	position: relative;
	top: -125px;
}

/* End of static styling */

/**
 * Content styling
 */

#content {
	position: relative;
	margin: 20px;
	padding-bottom: 50px;
}

#content #left-content {
//	background-color: red;
	float: left;
	width: 100%;
}

#content #left-content #wrapper {
	margin-right: 250px;
}

#content #right-content {
//	background-color: blue;
	float: left;
	width: 250px;
	margin-left: -250px;
}

#content #right-content #signup-form,
#content #right-content #login-form {
	margin: 20px;
}

h1#section-title {
	font-size: 1.5em;
	font-weight: lighter;
	margin: 20px;
	color: #9a1729;
}

h3#section-subtitle {
	font-size: 1em;
	font-weight: lighter;
	margin-left: 20px;
	color: #4c4c4c;
	margin: 20px;
}

#description {
	margin: 20px 40px 20px 10px;
}

#description p {
	font: 1.1em/1.8em "Helvetica Neue";
	font-weight: lighter;
	text-align: Justify;
}

#description p#pasta-team-signature {
	margin: 10px 40px 0px 0px;
	text-align: right;
	font: 1.9em "Just Me Again Down Here", "J.d.";
}

/* End of content layout styling */

/**
 * Pasta signup and login form styling
 */
.placeholder {
	color: rgba(169, 169, 169, 1);
}

#right-content h1 {
	font-size: 0.8em;
	font-weight: lighter;
	color: rgba(154, 23, 41, 1);
	margin-bottom: 5px;
}

#right-content li {
	list-style: none;
}


/* Error message styling  */
#right-content li p {
	font-family: "Helvetica Neue";
	font-size: 0.7em;
	/*margin-left: 5px;*/
	color: red;
}

#right-content input[type=password] {
	display: none;
}

#right-content input[type=text],
#right-content input[type=password] {
	border: 1px solid #891424;
	border-radius: 3px;
	height: 20px;
	margin: 5px 0px;
	-webkit-box-shadow: 0px 1px rgba(0, 0, 0, 0.2);
	background: 
		-webkit-gradient(linear, left top, left bottom, 
			color-stop(0%,rgba(0,0,0,0.1)), 
			color-stop(10%,rgba(255, 255, 255, 0.2)), 
			color-stop(20%,rgba(255, 255, 255, 1)));
}

#right-content input[type=text]:focus,
#right-content input[type=password]:focus {
	-webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);
	background: #fffeea;
}

#right-content input {
	font-size: 1em;
	font-family: "Calibri";
	font-weight: lighter;
	-webkit-transition: 0.1s all ease-in;
}

#right-content select {
	width: 185px;
	/*margin-left: 5px*/
}

.button {
	font-size: 1em;
	position: relative;
	/* this aligns the button with the form textfield baseline */
	bottom: 2px;
	padding: 1px 16px 3px 16px;
	color: white;
	border-radius: 3px;
	border: 1px solid #6e0f1c;
	background:
		-webkit-gradient(linear, left top, left bottom, 
			color-stop(0%,rgba(148, 52, 56, 1)), 
			color-stop(100%,rgba(115, 41, 43, 1)));
}

.button:hover {
	background:
		-webkit-gradient(linear, left top, left bottom, 
			color-stop(0%,rgba(196, 60, 68, 1)), 
			color-stop(100%,rgba(125, 41, 45, 1)));
}

.button:active {
	text-shadow: 1px 1px 0px rbga(0, 0, 0, 1);
	background:
		-webkit-gradient(linear, left top, left bottom,
			color-stop(2%,rgba(64, 31, 33, 0.8)),
			color-stop(3%,rgba(140, 35, 42, 1)), 
			color-stop(100%,rgba(70, 20, 23, 1)));
}

#right-content .button#login {
	padding: 1px 26px 3px 26px;
}

/**
 * Registration Progression Indicator
 *------------------------------------*/
#progress-indicator {
	position: relative;
	overflow: hidden;
	padding: 10px;
}

#progress-indicator ul {
	list-style: none outside none;
}

#progress-indicator ul li {
	float: left;
	margin-right: 30px;
}

#progress-indicator h1, 
#progress-indicator h2, 
#progress-indicator h3, 
#progress-indicator h4, 
#progress-indicator h5 {
	display: inline;
}

#progress-indicator ul li h1 {
	background-color: rgba(154, 23, 41, 0.1);
	font-weight: lighter;
	color: white;
	margin-right: 10px;
	padding: 6px 11px;
	border-radius: 20px;
}

#progress-indicator ul li h5 {
	color: lightgray;
	font-weight: lighter;
	font-style: italic;
	font-size: 0.9em;
	position: relative;
	bottom: 1px;
}

#progress-indicator ul li#stepped-on h1 {
	background-color: rgba(154, 23, 41, 1);
}

#progress-indicator ul li#stepped-on h5 {
	color: black;
	font-style: normal;
}


/**
 * Course Selection Page Table
 * See: application/controller/coursecompleted
 */

#course_selection_table, 
#course_selection_table tr,
#course_selection_table td {
	border: 1px solid black;
	padding: 5px;
	margin: 0px auto;
	
	/* transition setting */
	-webkit-transition: background-color 0.1s ease-in;
}

#course_selection_table h1 {
	font-size: 15pt;
}

#course_selection_table h2 {
	font-size: 12pt;
}

#course_selection_table tr:hover {
	background-color: #e9f4fd;
}

#course_selection_table #continue {
	margin: 20px;
}

#course_selection_table,
#course_selection_table tr,
#course_selection_table td {
	border: none;
}

/**
 * Course Registration Selection Table
 * @view register_courses.php
 */
#course-registration-selection-table, 
#course-registration-selection-table tr,
#course-registration-selection-table td {
	border: 1px solid black;
	padding: 5px;
	margin: 0px auto;
	
	/* transition setting */
	-webkit-transition: background-color 0.1s ease-in;
}

#course-registration-selection-table h1 {
	font-size: 15pt;
}

#course-registration-selection-table h2 {
	font-size: 12pt;
}

#course-registration-selection-table tr:hover {
	background-color: #e9f4fd;
}

#course-registration-selection-table #continue {
	margin: 20px;
}

#course-registration-selection-table,
#course-registration-selection-table tr,
#course-registration-selection-table td {
	border: none;
}


/**
 * Format the optional courses table in the scraper tester.
 */
#option-courses, #option-courses td, #option-coourses tr {
    border: 1px solid black;
    padding: 5px;
    margin: 0px auto;
}

/**
 * User Schedule Table
 * See: application/controller/profile
 */

#user_schedule_table, 
#user_schedule_table tr,
#user_schedule_table td,
#user_schedule_table th {
	border: 1px solid black;
	padding: 5px;
	margin: 0px auto;
	background-color: #ffffff;
}

#user_schedule_table a:hover {
	bottom: 0px;
}

#user_schedule_table ul {
	list-style: none;
}

#user_schedule_table,
#user_schedule_table td,
#user_schedule_table tr,
#user_schedule_table th {
	border: none;
}

#user_schedule_table a {
	font-size: 0.9em;
	font-weight: normal;
}

#user_schedule_table a:hover {
	border-bottom: 1px dashed rgba(154, 23, 41, 1);
}

/**
 * Profile Drop Schedule Confirmation Box
 *----------------------------------------*/
.dialog {
	width: 300px;
	position: fixed;
	background-color: white;
	-webkit-box-shadow: 
		0px 4px 0px lightgray,
		0px 2px 50px rgba(0, 0, 0, 0.2);
	padding: 20px;
	border-radius: 10px;
	text-align: center;
	top: 30%;
	left: 28%;
	background-color: rgba(249, 249, 249, 1);
	border: solid 1px rgba(0, 0, 0, 0.1);
	text-shadow: 2px 2px 0px white;
	display: none;

	/*display animation my hack - Charles - deprecated*/
/*	z-index: -9999;
	opacity: 0;
	-webkit-transition: opacity 0.2s ease-in;*/
}

.dialog h1 {
	margin-bottom: 20px;
	font-family: 'Helvetica Neue';
	font-weight: lighter;
	color: #9a1729;
}

/**
 * Registration Course Selection
 */
#course-preferences-selection {
	display: none;
	text-align: left;
}


#course-preferences-selection ul {
	list-style: none outside none;
	margin-left: 3px;
	padding-bottom: 30px;
}

#course-preferences-selection ul li {
	float: left;
	margin-right: 20px
}

#course-preferences-selection h1 {
	clear: both;
	margin-bottom: 10px;
}

/*Time Table CSS*/
#time_table td{
    border: 1px solid black;
}

#time_header{
  width: 40px;
  font-size:10px;
  color:Black;
  text-align:center;
  background-color:#DDDDDD;
}
#time_table_header{
  border-bottom-width:0;
}

#day_header{
  width: 100px;
  font-size:10px;
  color:Black;
  text-align:center;
  background-color:#DDDDDD;
}
#day_column td{
    border: 0px;
}

#time_column td{
    border: 0px;
    font-size:12px
}

/* End of Time Table Css*/

/*****************/
/* Media Queries */
/*****************/
@media screen and (max-width: 780px) {
/*	#description {
		width: 100%;
	}
	
	#signup {
		float: left;
	}*/
}
