* {
	font-family: 'Helvetica Neue', 'Helvetica';
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

input {
	outline: none;
}

/**
 * Static styling
 */	
h1#top {
	font-size: 2em;
	font-weight: bold;
	color: #9a1729;
	text-shadow: 2px 2px rgba(255, 255, 255, 1);
}

h5#caption {
	font-size: 1em;
	color: #9a1729;
	text-shadow: 1px 1px rgba(255, 255, 255, 1);
}

#outter {
	max-width: 780px;
	margin: 0px auto;
}

#header {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 5px;
	background-color: #fae295;
}

ul#nav {
	position: absolute;
	right: 0px;
	bottom: 0px;
}

ul#nav li {
	float: left;
	list-style: none;
	margin: 0px 5px;
}

#footer {
	width: 100%;
	font-family: "Times";
	padding: 5px;
}

#footer hr {
	border-right: medium none;
	border-top: #9a1729 1px solid;
	border-left: medium none;
	border-bottom: medium none; 
	height: 1px;
}

/* End of static styling */

/**
 * Content styling
 */

#content {
	position: relative;
//	background-color: yellow;
}

#content #left-content {
//	background-color: red;
	float: left;
	width: 100%;
}

#content #left-content #wrapper {
	margin-right: 250px;
}

#content #right-content {
//	background-color: blue;
	float: left;
	width: 250px;
	margin-left: -250px;
}

#content #right-content #signup-form,
#content #right-content #login-form {
	margin: 20px;
}

/* End of content layout styling */

/**
 * Pasta signup and login form styling
 */
.placeholder {
	color: rgba(169, 169, 169, 1);
}

#right-content h1 {
	font-size: 0.8em;
	font-weight: lighter;
	margin-bottom: 5px;
}

#right-content li {
	list-style: none;
}

/* Error message styling  */
#right-content li p {
	font-family: "Calibri";
	font-size: 0.7em;
	/*margin-left: 5px;*/
	color: red;
}

#right-content input[type=password] {
	display: none;
}

#right-content input[type=text],
#right-content input[type=password] {
	border: 1px solid #891424;
	border-radius: 3px;
	height: 20px;
	margin: 5px 0px;
	-webkit-box-shadow: 0px 1px rgba(0, 0, 0, 0.2);
	background: 
		-webkit-gradient(linear, left top, left bottom, 
			color-stop(0%,rgba(0,0,0,0.1)), 
			color-stop(10%,rgba(255, 255, 255, 0.2)), 
			color-stop(20%,rgba(255, 255, 255, 1)));
}

#right-content input[type=text]:focus,
#right-content input[type=password]:focus {
	-webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);
	background: #fffeea;
}

#right-content input {
	font-size: 1em;
	font-family: "Calibri";
	-webkit-transition: 0.1s all ease-in;
}

#right-content select {
	width: 185px;
	/*margin-left: 5px*/
}

#right-content .button {
	font-size: 1em;
	position: relative;
	/* this aligns the button with the form textfield baseline */
	bottom: 2px;
	padding: 1px 16px 3px 16px;
	color: white;
	border-radius: 3px;
	border: 1px solid #6e0f1c;
	background:
		-webkit-gradient(linear, left top, left bottom, 
			color-stop(0%,rgba(148, 52, 56, 1)), 
			color-stop(100%,rgba(115, 41, 43, 1)));
}

#right-content .button:hover {
	background:
		-webkit-gradient(linear, left top, left bottom, 
			color-stop(0%,rgba(196, 60, 68, 1)), 
			color-stop(100%,rgba(125, 41, 45, 1)));
}

#right-content .button:active {
	text-shadow: 1px 1px 0px rbga(0, 0, 0, 1);
	background:
		-webkit-gradient(linear, left top, left bottom,
			color-stop(2%,rgba(64, 31, 33, 0.8)),
			color-stop(3%,rgba(140, 35, 42, 1)), 
			color-stop(100%,rgba(70, 20, 23, 1)));
}

#right-content .button#login {
	padding: 1px 26px 3px 26px;
}
/**
 * Course Selection Page Table
 * See: application/controller/coursecompleted
 */

#course_selection_table, 
#course_selection_table tr,
#course_selection_table td {
	border: 1px solid black;
	padding: 5px;
	margin: 0px auto;
	
	/* transition setting */
	-webkit-transition: background-color 0.1s ease-in;
}

#course_selection_table h1 {
	font-size: 15pt;
}

#course_selection_table h2 {
	font-size: 12pt;
}

#course_selection_table tr:hover {
	background-color: #e9f4fd;
}

/**
 * User Schedule Table
 * See: application/controller/profile
 */

#user_schedule_table, 
#user_schedule_table tr,
#user_schedule_table td {
	border: 1px solid black;
	padding: 5px;
	margin: 0px auto;
	background-color: #ffffff;
}

#user_schedule_table h1 {
	font-size: 15pt;
}

#user_schedule_table h2 {
	font-size: 12pt;
}

/*****************/
/* Media Queries */
/*****************/
@media screen and (max-width: 780px) {
	#description {
		width: 100%;
	}
	
	#signup {
		float: left;
	}
}
